body > .container {
	top: 50px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

a { color: #337ab7; }

a,
a:hover{
	text-decoration: none;
}

.header-container {
	background-color: #061144;;
	color: #fff;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(200,200,200);
}

.title-container {
	width: 60%;
	margin: 0 auto;
	padding-top:5px;
}

.header-logo {
	position: relative;
	top: 8px;
	width: 100px;
}

.header-container h3 {
  float: right;
  margin: 26px 10px 0 0;
}

.footer-container {
	background-color: #061144;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid rgb(200,200,200);
}

.user-name {
	margin-left: 8px;
	bottom: -10px;
	position: relative;
}

@media screen and (max-width:980px) {
	.header-container h3 {
	  display: none;
	}
}
