.issuesDetails {
	list-style-type: none;
	margin: 5% 8%;
}

.issuesDetails h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 5px;
}

.issuesDetails .state {
  font-size: 2rem;
	margin-right: 10px;
  padding: 3px 8px 5px 8px;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #337ab7;
	color: #fff;
}

.issuesDetails img {
	height: 50px;
  width: 50px;
  padding: 2px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 3px #CCCCCC;
  box-shadow: 1px 1px 3px #CCCCCC;
  border: 1px solid #CCCCCC;
  margin: 4px 8px 0 0;
}

.issuesDetails .label {
  padding: 5px;
  margin: 0 4px;
}

.issuesDetails .name {
  vertical-align: top;
	font-weight: 500;
	color: #2196f3;
}

.issuesDetails .header label {
  padding-right: 5px;
}

.issuesDetails .header span {
  vertical-align: top;
}

.issuesDetails .header {
  margin: 10px 0;
}

.issuesDetails .body {
	border-radius: 6px;
  background-color: rgb(245, 245, 245);
  -moz-box-shadow: 1px 1px 3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 3px #CCCCCC;
  box-shadow: 1px 1px 3px #CCCCCC;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-content {
	border: 1px solid;
	margin: 8px 0 15px;
	padding: 8px 8px 0;
	-moz-box-shadow: 1px 1px 3px #CCCCCC;
  -webkit-box-shadow: 1px 1px 3px #CCCCCC;
  box-shadow: 1px 1px 3px #CCCCCC;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Tablets and mobile */
@media screen and (max-width:900px) {
  .issuesDetails {
    margin: 15% 5% 2% 5%;
  }
}
