.pagination {
  margin: 2% 3% 8% 3%;
}

.pagination a {
  cursor: pointer;
  padding: 5px 6px 6px 6px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #2196f3;
}

.pagination a:hover {
  color: #ccc;
}

.pagination span {
  padding: 5px 6px 6px 6px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #2196f3;
}

@media screen and (max-width: 460px) {
  .pagination {
    margin: 6% 3% 20% 4%;
  }
}
